@import "../../styles/colors.scss";

.primary-button {
  flex: 1;
  padding: 8px 16px;
  background: $blue-03;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: $blue-04;
  }

  &:disabled {
    background: $blue-05;
    cursor: not-allowed;
  }

  &.without-hover {
    &:hover {
      background: $blue-03;
    }
  }
}
