@import "../../../../styles/colors.scss";

.shop-now-button {
    background-color: $blue-03; /* Bootstrap blue color */
    color: white;
    padding: 16px 32px;
    font-size: 16px;
    border: none;
    border-radius: 99px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .shop-now-button:hover {
    background-color: $blue-02; /* Darker blue for hover effect */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  .shop-now-button:focus {
    outline: none;
    box-shadow: 0 0 0 4px $blue-02; /* Focus outline */
  }
  