@import "../../styles/colors.scss";

.text {
  font-style: normal;
  font-weight: 400;
  color: $gray-01;
  line-height: 150%;
  display: inline;
  margin: 0;
  font-size: 18px;

  &.pre-wrap {
    white-space: pre-wrap;
  }

  &.line-clamp {
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    white-space: pre-wrap !important;
  }

  &.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
  }

  &.clickable {
    cursor: pointer;
  }
}
